# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# dotenv (secret config)
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log


.zip 

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Build & coverage
dist/
build/
coverage/

# IDEs & editors
.vscode/
.idea/
*.swp

# MongoDB dump/backups
dump/
*.gz

# Temp files
tmp/
temp/
.cache/
*.bak

# Testing
jest-coverage/
.nyc_output/
